# General
.DS_Store
*.log
hs_err_pid*.log

# Python / Machine Learning
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
ml/train data/
ml/dataset/
*.h5

# Node / React
node_modules/
dist/
build/
.npm/

# Java / Spring Boot
target/
*.class
*.jar
*.war
.mvn/

# IDEs
.idea/
.vscode/
*.swp
*.swo
